.env
__pycache__/
*.pyc
platform/orchestration/airflow/logs/
platform/orchestration/airflow/logs/**
logs/
*.log
.DS_Store
.ge_store
secrets/
*.db
.data/
platform/storage/medallion/bronze/*
platform/storage/medallion/silver/*
platform/storage/medallion/gold/*
!platform/storage/medallion/bronze/.gitkeep
!platform/storage/medallion/silver/.gitkeep
!platform/storage/medallion/gold/.gitkeep
.ge_validation_store/
